numpy>=1.26.4
matplotlib
pillow
tqdm
imageio
imageio-ffmpeg
ffmpeg
opencv-python
Ninja
trimesh
PyMcubes
pywavefront
h5py
pytecplot
open3d
taichi
cmap
tensorboard
pymeshlab
trimesh
mediapy
lpips
scikit-image
plyfile